https://github.com/antmicro/antmicro-sphinx-utils/archive/main.zip
cocotb-test==0.2.4
cocotb==1.7.2
cocotbext-axi==0.1.20
cocotbext-wishbone==0.2.2
autopep8==2.0.2
jsonschema @ git+https://github.com/python-jsonschema/jsonschema@eb8255a473b4f6e9439322f9ec93e345bc7f17d6